.social
    display: flex
    justify-content: space-between

.social__text
    display: flex
    align-items: center
    margin-right: 15px
    // max-width: 80px
    font-family: "Toyota Text"
    font-size: 12px
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 0.6px
    color: #ffffff

    
.social__blocks
    display: flex
    align-items: center

.social__link
    display: flex
    justify-content: center
    align-items: center
    width: 60px
    height: 60px
    border-radius: 30px
    background-color: #e10522

.social__link--weight
    justify-content: space-around
    width: 130px
    height: 22px
    border-radius: 2px
    background-color: #4267ae


.social__link-test
    font-family: Helvetica
    font-size: 11px
    font-weight: 700
    line-height: 18px
    letter-spacing: -.11px
    color: #ffffff

