.competition__main
    display: flex
    justify-content: center
    align-items: center
    position: relative
    height: 100%

.competition__title
    text-align: center
    color: #e10522
    font-family: "Kievit Pro"
    font-size: 90px
    font-weight: 900
    line-height: 72px
    text-transform: uppercase
    letter-spacing: 0.9px
    z-index: 2

    &::after
        content: 'Нальчик — Тырныауз — Терскол'
        display: block 
        color: #000000
        font-size: 21px
        font-weight: 700
        letter-spacing: 0.53px

.competition__wrapper
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    position: absolute
    z-index: 2
    height: 100%
    width: 100%
    
    